<% flash.each do |type, msg| %>
  <div class="alert alert-info alert-dismissible" style="text-align: center;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= msg %>
  </div>
<% end %>