<!-- <footer style="color:white;background-color: #00a3ff;">
  <div class="row pt-3 pb-3">
    <div class="col-10 offset-1 col-md-3 offset-md-2">
      <p>Retrouvez nous sur <a href="https://www.facebook.com/D%C3%A9mocratisons-Aubagne-103383077935177" target="blank" style="color:white;">Facebook</a></p>
    </div>
    <div class="col-10 offset-1 col-md-3 offset-md-2">
      <a href="/mentions-legales" target="blank" style="color:white;">Mentions légales</a>
    </div>
  </div>
</footer> -->