<div class="container">
  <div class="row">
  	<div class="col-12">
  	  <h2>
  	    Mentions légales
  	  </h2>
  	  <p>Le site internet democratisons-aubagne.fr est édité par Alexandre Perdomo.</p>
  	  <p>Adresse postale : 215 avenue du 19 mars 1962, 13400 Aubagne. </p>
  	  <p>Adresse mail de contact : contact@democratisons-aubagne.fr. </p>
  	  <p>Téléphone : 09 87 35 24 46</p>

  	  <br>
  	  <p>Le site internet democratisons-aubagne.fr est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311).</p>
  	</div>
  	<div class="col-12">
  	  <h2>Cookies</h2>	
  	  <p>Dans sa version actuelle, le site democratisons-aubagne.fr n'utilise aucun cookie.</p>
  	</div>
  	<div class="col-12">
  	  <h2>Données personnelles</h2>	
  	  <p>Dans sa version actuelle, le site democratisons-aubagne.fr ne stocke aucune information personnelle.</p>
  	</div>
  </div>
</div>