<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Démocratisons Aubagne</h1>
    </div>

    <div class="col-12">
      <h2>Le projet</h2>
    </div>

    <div class="col-12">
      <p>Le projet Démocratisons Aubagne a pour objectif de mettre en place un outil permettant aux Aubagnaises et Aubagnais de participer aux prises de décisions politiques dans la ville d'Aubagne.</p>

      <p>Cette démarche se veut apolitique et se rapproche du <a href="https://fr.wikipedia.org/wiki/Municipalisme_libertaire">municipalisme libertaire</a>.</p>

      <p>Cette plateforme va progressivement s'enrichir de fonctionnalités : cahier de doléances, consultations citoyennes basée sur la jugement majoritaire, organisation d'assemblées cotoyennes... Dans une démarche de transparence, son code source est mis à disposition sur demande. Vous pouvez prendre contact avec nous par mail : <a href="mailto:contact@democratisons-aubagne.fr">contact@democratisons-aubagne.fr</a>.</p>
    </div>

    <div class="col-12">
      <h2>Les élections municipales</h2>
    </div>

    <div class="col-12">
      <p>Un des objectifs de ce projet est la sensibilisation et l'accès aux informations politiques pour les citoyens. Les échéances municipales approchant à grands pas, les différentes listes ont été contactées pour connaitre leur principales propositions et savoir si notre démarche les intéressait. Les informations sur chacune des listes (contact, soutiens politiques...) sont regroupées dans notre onglet <a href="/election-municipale-2020">municipales 2020</a>. Une fois les listes déposées, leurs candidats seront brièvement présentés sur le site.</p>
    </div>

    <div class="col-12">
      <p>Nous espérons ainsi redonner du sens à la politique locale et à la Démocratie.</p>

      <p>L'équipe de Démocratisons Aubagne</p>
    </div>
  </div>
</div>