<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @list["name"] %></h1>

      <p>Site Web : <%= @list["website"] %></p>
      <p>Téléphone : <%= @list["phone"] %></p>
      <p>Mail de contact : <%= @list["email"] %></p>
    </div>
  </div>
</div>

